build/
version
*.o
*.a
*.exe
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autoscan.log
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure~
depcomp
install-sh
ltmain.sh
m4/libtool.m4
m4/lt*.m4
missing
test-driver
compile_commands.json
.deps/
.dirstamp
*.elc
__pycache__/
AGENTS.md
config.h.in~
